@import 'src/styles/mixin.scss';

//SelectPokemonLayout
.layout_wrapper {
  display: flex;
  gap: 15px;

  span {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  button {
    width: 99px;
    height: 34px;
    border-radius: 8px;
    font-size: 13px;
  }
}

.layout_container {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 121px;
  height: 121px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  background: #fff;

  img {
    width: 100px;
    height: 100px;
  }
}

// SelectPokemonLike, SelectPokemonRandom
.select_wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 17px 21px;
  justify-content: space-between;
  // width: fit-content;
  gap: 10px;

  @include mobile {
    gap: 30px;
    align-items: center;
    padding: 20px 10px;
  }
}

.random_container {
  display: flex;
  gap: 15px;
  justify-content: space-between;

  @include mobile {
    gap: 30px;
    padding: 0 10px;
    flex-direction: column;
  }
}

.like_container {
  display: flex;
  gap: 15px;
  justify-content: space-between;

  @include mobile {
    gap: 5px;
  }
}

.select_wrapper > div > .border_button {
  width: 120px;
  height: 204px;
  border-radius: 15px;
  border: 3px solid #0f60ce;
  font-size: 21px;
  font-weight: 500;

  @include mobile {
    width: 100%;
    height: 100%;
    padding: 10px 0;
  }
}

.select_wrapper > div > .page_button {
  cursor: pointer;
  width: 32px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #b5b5b5;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  @include mobile {
    background-color: transparent;
    transform: translateY(130%);
    height: 32px;
  }
}

.select_wrapper > div > .title {
  font-size: 28px;
  font-weight: 500;
}

.border_button {
  cursor: pointer;
  outline: none;
  color: #0f60ce;
  border: 2px solid #0f60ce;
  background-color: #fff;
  color: #0f60ce;
  font-weight: 500;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: #0f60ce;
    color: #fff;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
}

//SelectPokemonMobile
.mobile_wrapper {
  gap: 20px;
  max-width: 345px;
  display: none;
  margin: 40px 0;

  @include mobile {
    display: flex;
  }

  .selector_button {
    width: 100%;
    height: 190px;
    display: flex;
    padding: 12px 15px;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    border: 3px solid #000;
    background-color: #fff;
    justify-content: space-between;

    .img_wrapper {
      position: relative;
      flex: 2;

      img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -40%);
        width: 152px;
        height: 152px;
      }
    }

    .text_wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      span {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
      }

      p {
        color: #939393;
        text-align: center;
        font-size: 10px;
        line-height: 13px;
      }
    }
  }
}
