.inputBox {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.inputTitle {
    margin-bottom: 10px;
}

.textEditerSubmitButton {
    display: flex;
    margin: 30px 0 20px 0;
    justify-content: center;
}

.ButtonLgStyle {
    margin-top: 40px;
    width: 280px;
    height: 50px;
    display: flex;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 8px;
    border-style: none;
    align-items: center;
    justify-content: center;
    background-color: #0f60ce;
    font-family: "GmarketSansMedium";
    &:hover {
        color: white;
        background-color: #0d4ca5;
    }
}
