.commentTitle {
  font-size: 20px;
}

.formBox {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.replyIcon {
  font-size: 12px;
  margin-right: 30px;
  color: rgb(188, 188, 188);
}

.replyIcons {
  font-size: 12px;
  margin-right: 20px;
  margin-left: 20px;
  color: rgb(188, 188, 188);
  @media (max-width: 768px) {
    margin-right: 0;
  }
}

.commentTextBox {
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px;
  margin: 10px 0 10px 0;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  textarea {
    width: 100%;
    resize: none;
    display: flex;
    font-size: 14px;
    border-style: none;

    &:focus {
      outline: none;
    }
  }
}

.commentButtonBox {
  display: flex;
  justify-content: flex-end;
}

.ButtonStyle {
  width: 80px;
  height: 30px;
  display: flex;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
  border-style: none;
  border-radius: 8px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  background-color: black;

  &:hover {
    color: white;
    background-color: #0f60ce;
  }
}

.replyBox {
  display: flex;
  height: 100px;
}

.infoBox {
  display: flex;
  font-size: 12px;
  margin: 20px 0 0;
  justify-content: space-between;
}

.editBox {
  gap: 8px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: flex-end;
  .replyText {
    cursor: pointer;
  }
}

.editText {
  cursor: pointer;
  color: #0f60ce;
}

.editDelBox {
  display: flex;
  gap: 6px;
}

.userBoxMobile {
  display: flex;
  align-items: center;
}

.userBox {
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .createdAtTextTop {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      font-size: 10px;
      color: #cdcdcd;
      margin-top: 10px;
      margin-left: 2px;
    }
  }
  .createdAtText {
    color: #b0b0b0;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .deleteText {
    cursor: pointer;
    color: #ff5050;
  }
}

.ButtonStyleBox {
  gap: 6px;
  display: flex;
  justify-content: flex-end;
}

.ButtonStyle {
  width: 80px;
  height: 30px;
  display: flex;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
  border-style: none;
  border-radius: 8px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  background-color: black;

  &:hover {
    color: white;
    background-color: #0f60ce;
  }
}

.usersImg {
  width: 23px;
  height: 23px;
  display: flex;
  overflow: hidden;
  margin-right: 6px;
  border-radius: 100%;
  border: 1px solid #cfcfcf;
  img {
    width: 100%;
    height: 100%;
  }
}

.editBox {
  gap: 8px;
  display: flex;
  padding-right: 5px;
}

.commentTextBox {
  width: 100%;
  height: 146px;
  display: flex;
  padding: 24px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  textarea {
    width: 100%;
    resize: none;
    display: flex;
    font-size: 14px;
    border-style: none;
  }
}
