.container {
  @media (max-width: 768px) {
    padding: 25px;
  }
}

.inputBox {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.reactQuill {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.inputTitle {
  margin-bottom: 10px;
}

.inputSelect {
  @media (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.inputTextBox {
  display: flex;
  min-width: 1000px;
  @media (max-width: 768px) {
    min-width: 100%;
  }
}

.textEditerSubmitButton {
  display: flex;
  margin: 30px 0 20px 0;
  justify-content: center;
}

.ButtonLgStyle {
  width: 280px;
  height: 50px;
  display: flex;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 40px;
  border-radius: 8px;
  border-style: none;
  align-items: center;
  justify-content: center;
  background-color: #0f60ce;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 0px;
  }
  &:hover {
    color: white;
    background-color: #0d4ca5;
  }
}
