.container {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  transition: 0.2s;
  // max-height: 268px;
  border-radius: 16px;
  margin-bottom: 20px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
  &:hover {
    transform: scale(1.02);
  }
  @media (max-width: 1200px) {
    max-width: 100%;
  }
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.titleImg {
  width: 100%;
  // height: 133px;
  display: flex;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    // @media (max-width: 1200px) {
    //   width: auto;
    //   margin-left: auto;
    //   margin-right: auto;
    // }
    @media (max-width: 768px) {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.innerBox {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 14px 14px;
}

.userBox {
  height: 40px;
  display: flex;
  align-items: center;
}

.usersImg {
  width: 23px;
  height: 23px;
  display: flex;
  overflow: hidden;
  margin-right: 6px;
  border-radius: 100%;
  border: 1px solid #cfcfcf;
  img {
    width: 100%;
    height: 100%;
  }
}

.titleItem {
  height: 20px;
  width: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
}

.descriptionItem {
  font-size: 12px;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likesViewsBox {
  display: flex;
  font-size: 12px;
  gap: 8px;
}

.dateBox {
  display: flex;
  font-size: 12px;
}

.view {
  display: flex;
  color: #0f60ce;
  align-items: center;

  svg {
    font-size: 16px;
    margin-right: 2px;
  }
}
.like {
  display: flex;
  color: #ff5050;
  align-items: center;

  svg {
    font-size: 16px;
    margin-right: 2px;
  }
}
