.container {
  display: flex;
  width: 100%;
  // margin-left: 30px;
}

.replyIcon {
  padding-top: 20px;
  margin-right: 10px;
  color: rgb(188, 188, 188);
}

.innerBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.userEditBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.commentTextBox {
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
  textarea {
    width: 100%;
    resize: none;
    display: flex;
    font-size: 14px;
    border-style: none;
    font-family: 'GmarketSansMedium';
  }
}

.infoBox {
  width: 100%;
  display: flex;
  font-size: 12px;
  margin-bottom: 8px;
  justify-content: space-between;
}

.userBox {
  display: flex;
  margin-right: 2px;
  align-items: center;
}

.usersImg {
  width: 23px;
  height: 23px;
  display: flex;
  overflow: hidden;
  margin-right: 6px;
  border-radius: 100%;
  border: 1px solid #cfcfcf;
  img {
    width: 100%;
    height: 100%;
  }
}

.ButtonStyleBox {
  gap: 6px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.ButtonStyle {
  width: 80px;
  height: 30px;
  display: flex;
  color: white;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
  border-style: none;
  border-radius: 8px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: 'GmarketSansMedium';
  &:hover {
    color: white;
    background-color: #0f60ce;
  }
}

.editBox {
  gap: 8px;
  display: flex;
  font-size: 12px;
  padding-right: 5px;
  align-items: center;
  justify-content: end;
  .replyText {
    cursor: pointer;
    color: #0f60ce;
  }
}

.userBox {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: end;
  .createdAtText {
    display: flex;
    color: #b0b0b0;
  }

  .deleteText {
    cursor: pointer;
    color: #ff5050;
  }
}
