.container {
  display: flex;
  margin-left: 30px;
}

.replyIcon {
  padding-top: 20px;
  margin-right: 10px;
  color: rgb(188, 188, 188);
}

.innerBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.commentTextBox {
  width: 100%;
  height: auto;
  display: flex;
  padding: 24px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
}

.infoBox {
  width: 100%;
  display: flex;
  font-size: 12px;
  margin: 20px 0 8px 0;
  justify-content: space-between;
}

.userBox {
  display: flex;
  margin-right: 2px;
  align-items: center;
}

.userEditBox {
  gap: 8px;
  display: flex;
  margin-right: 5px;
  align-items: center;
}

.usersImg {
  width: 23px;
  height: 23px;
  display: flex;
  overflow: hidden;
  margin-right: 6px;
  border-radius: 100%;
  border: 1px solid #cfcfcf;
  img {
    width: 100%;
    height: 100%;
  }
}
