.ButtonStyle {
    width: 100px;
    height: 32px;
    display: flex;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: black;
    &:hover {
        color: white;
        background-color: #0f60ce;
    }
}

.ButtonLgStyle {
    width: 280px;
    height: 60px;
    display: flex;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background-color: #0f60ce;
    &:hover {
        color: white;
        background-color: #0d4ca5;
    }
}

.ButtonCategory {
    width: 70px;
    height: 18px;
    display: flex;
    color: white;
    font-size: 10px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    background-color: #0F60CE;
}

.ButtonEdit {
    width: 60px;
    height: 18px;
    display: flex;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    background-color: #0F60CE;
}

.ButtonDel {
    width: 45px;
    height: 18px;
    display: flex;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border-radius: 2%;
    align-items: center;
    justify-content: center;
    background-color: #FF5050;
}