@import 'src/styles/mixin.scss';

.pokemon_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

  @include mobile {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 0 20px;
  }
}

.pokemon_list_element {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 20px 10px;
  border-radius: 17px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  cursor: pointer;

  .pokemon_number {
    width: 57px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0;
    // position: absolute;
    // background-color: #e8e8e8;
    z-index: 1;
    left: 0;
    top: 0;

    span {
      font-size: 10px;
      color: #c4c4c4;
    }
  }

  .pokemon_image {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 141px;
    height: 141px;
  }

  .pokemon_name {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .pokemon_type {
    display: flex;
    width: 100%;

    > div {
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
}

.highlighted {
  border: 2px solid rgb(250, 19, 2);
}
