@import 'src/styles/mixin.scss';
@import 'src/styles/theme.scss';

.wrapper {
  position: relative;
  height: 100%;
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-bottom: 3px solid #000;
    overflow: hidden;

    .type_plates {
      margin-top: 20px;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }
}

.plate_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type_plate {
  display: flex;
  gap: 10px;
}

.type_image {
  width: 100%;
  height: 100%;
}

.type_plate__my {
  display: flex;
  gap: 3px;
}

@each $type, $color in $type-colors {
  .click_plate.#{$type} {
    @include plate_click_style($color);
  }

  .unclick_plate.#{$type} {
    @include plate_unclick_style($color);
  }

  .type_plate.#{$type} {
    @include plate_pokemon_type($color);
  }

  .type_plate__my.#{$type} {
    @include plate_pokemon_type($color);
    width: 33px;
    height: 11px;

    img {
      width: 7px;
    }

    span {
      font-size: 7px;
    }
  }
}

.hide_button {
  position: absolute;
  top: unset;
  bottom: -25px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-bottom: 0px;
  justify-self: center;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 24px solid #000;
  width: 111px;
}
