.card_page_wrapper {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.product_card_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product_card_container_decoration {
  &__top {
    width: 100%;
    height: 21px;
    border-radius: 15px 15px 0px 0px;
    border: 3px solid #000;
    background: #ff5050;
  }

  &__bottom {
    height: 21px;
    border-radius: 0px 0px 15px 15px;
    border: 3px solid #000;
    background: #0f60ce;
  }
}

.product_card_container {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10%;
  height: 588px;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  background: #fff;
}

.select_wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.pokemon_select_wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding: 17px 21px;
  justify-content: space-between;
  width: fit-content;
  gap: 10px;

  div {
    display: flex;
    gap: 15px;
  }
}

.pokemon_select_wrapper > div > .border_button {
  width: 120px;
  height: 204px;
  border-radius: 15px;
  border: 3px solid #0f60ce;
  font-size: 21px;
  font-weight: 500;
}

.pokemon_select_wrapper > div > .page_button {
  cursor: pointer;
  width: 32px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #b5b5b5;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.pokemon_select_wrapper > div > .title {
  font-size: 28px;
  font-weight: 500;
}

.border_button {
  cursor: pointer;
  outline: none;
  color: #0f60ce;
  border: 2px solid #0f60ce;
  background-color: #fff;
  color: #0f60ce;
  font-weight: 500;
  font-family: GmarketSansMedium;
  transition: 0.2s ease;

  &:hover {
    background-color: #0f60ce;
    color: #fff;
  }
}

.cards {
  &__row_cards {
    display: flex;
    gap: 15px;

    &__column {
      gap: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__card {
      width: 121px;
      height: 121px;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2.3px solid #e5e5e5;
      background: #fff;

      img {
        width: 100px;
        height: 100px;
      }
    }

    span {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
    }

    button {
      width: 99px;
      height: 34px;
      border-radius: 8px;
      font-size: 13px;
    }
  }
}

.editor_wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 485px;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 80%;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    justify-content: flex-end;
  }

  ul {
    margin-left: 10%;
  }
}

.pokemon_name_editor {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;

  > li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 51px;
      height: 34px;
      border-radius: 8px;
    }

    > div {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }
}

.status_title {
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    gap: 8px;
  }
}

.status_bar_container {
  display: flex;
  flex-direction: column;

  > li {
    display: flex;
    justify-content: space-between;

    > div {
      width: 70%;
    }
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.list_name {
  font-size: 18px;
}

.search__wrapper {
  width: 403px;
  min-height: 71px;
  border-radius: 15px;
  border: 2.3px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search__inner {
  display: flex;
  width: 365px;
  height: 36px;
  border-bottom: 1px solid #000;
}

.search__input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
}

.search__button {
  outline: none;
  background-color: transparent;
  border: none;
}

.dropdown__list {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(4, 110px);
  gap: 10px;

  > li {
    width: 110px;
    height: 110px;
    background-color: yellow;
  }
}
