@import 'src/styles/mixin.scss';
@import 'src/styles/theme.scss';

/*Detail - main*/

.detail {
  &__main {
    display: flex;
    justify-content: center;
    gap: 160px;
    max-width: 1920px;
  }

  &__center {
    width: 280px;
  }

  &__comments {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1920px;
  }
}

/*Pokemon - info*/
.pokemon__info__title {
  text-align: right;
  width: 50px;
  font-weight: bold;
}

.pokemon__info__data {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
}

.pokemon__info__top {
  top: -50px;
  border-bottom: 49px solid #000;
  border-right: 42px solid transparent;
  height: 0px;
  width: 139px;
  position: absolute;
  color: #fff;
  font-weight: 500;
  line-height: normal;
  left: -1px;
  display: flex;
  justify-content: center;
}

.pokemon__info__top span {
  padding: 12px;
  color: #fff;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
}

.pokemon__info__Box {
  perspective: 400px;
  margin: auto 0;
  display: flex;
  width: 300px;
  height: 450px;
  flex-shrink: 0;
  align-items: flex-end;
  margin-top: 103px;
}

.pokemon__info__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.3s;
  transform: rotateY(30deg);
  border-radius: 0px 4px 4px 0px;
  border: 3px solid #000;
  background: #fff;
  width: 300px;
  height: 401px;
  flex-shrink: 0;
  padding: 20px;
  position: relative;

  &:hover {
    transform: rotateY(0deg);
  }
}

.pokemon__info__container img {
  position: absolute;
  left: -13px;
  bottom: -3px;
}

.pokemon__info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.pokemon__info__form {
  cursor: pointer;
}

/*Pokemon - status*/

.stats__main {
  width: 300px;
  display: flex;
}

.stats__like__box {
  position: absolute;
  width: inherit;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  top: 103px;
}

@keyframes moveUpAndRotate {
  0% {
    transform: translateY(0) rotateX(0deg) scale(1);
  }

  100% {
    transform: translateY(-10px) rotateY(360deg) scale(1.2);
  }
}

.stats__like {
  display: flex;
  width: 109px;
  height: 33px;
  flex-shrink: 0;
  border-radius: 16.54px;
  border: 2px solid #ff5050;
  background: #fff;
  justify-content: center;
  align-items: center;
  gap: 13px;

  span {
    color: #ff5050;
    font-family: Gmarket Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.stats__like__animate.animateHeart {
  animation: moveUpAndRotate 1s ease-in-out;
}

.stats__container {
  perspective: 400px;
  margin: auto 0;
  width: 300px;
  height: 450px;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  position: relative;
  margin-top: 103px;
}

.stats {
  width: 300px;
  height: 401px;
  flex-shrink: 0;
  border-radius: 4px 0px 0px 4px;
  border: 3px solid #000;
  background: #fff;
  padding: 20px;
  transition: 0.3s;
  transform: rotateY(-30deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;

  &:hover {
    transform: rotateY(0deg);
  }

  &__total {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    white-space: pre-wrap;
  }

  &__top {
    top: -50px;
    border-bottom: 49px solid #000;
    border-left: 42px solid transparent;
    height: 0px;
    width: 139px;
    position: absolute;
    color: #fff;
    font-weight: 500;
    line-height: normal;
    right: -1px;
    display: flex;
    justify-content: center;
  }

  &__top span {
    padding: 12px;
    color: #fff;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
  }

  img {
    position: absolute;
    transform: scaleX(-1);
    right: -13px;
    bottom: -3px;
  }
}

.stat {
  &__label {
    margin-top: 10px;
    font-weight: bold;
  }

  &__barBg {
    width: 100%;
    position: relative;
    height: 20px;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    flex-shrink: 0;
  }

  &__barBg__my {
    width: 100%;
    position: relative;
    height: 8px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 4px;
    flex-shrink: 0;
  }

  @each $type, $color in $type-colors {
    &__barBg.#{$type} {
      background-color: rgba($color, 0.2);
    }

    &__barBg__my.#{$type} {
      background-color: rgba($color, 0.2);
    }
  }

  &__barFilled,
  &__barFilled__my {
    height: 100%;
    transition: width 0.3s;
    position: relative;
    z-index: 0;
    flex-shrink: 0;
  }

  @each $type, $color in $type-colors {
    &__barFilled.#{$type} {
      background-color: $color;
      border-radius: 4px 0px 0px 4px;
      background: linear-gradient(90deg, $color 0%, rgba($color, 0.3) 100.35%);
    }

    &__barFilled__my.#{$type} {
      background-color: $color;
      border-radius: 2px 0px 0px 2px;
      background: linear-gradient(90deg, $color 0%, rgba($color, 0.3) 100.35%);
    }
  }

  /* 
  &__striped {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 1rem 1rem;
    animation: progress-bar-stripes 1s linear infinite;
  } */

  &__value {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: #000000;
    line-height: initial;
  }

  @each $type, $color in $type-colors {
    &__value.#{$type} {
      color: darken($color, 20%);
    }
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}

/*Pokemon - image*/

.detail {
  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__nameBox {
    display: grid;
    place-items: center;
    width: auto;
    padding: 0 10px;
    position: relative;
    top: -2px;
  }

  &__name {
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }

  &__some__form {
    margin-top: 32px;
    color: #999;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
  }

  &__img__box {
    width: 280px;
    height: 280px;
    margin-top: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__type {
    display: flex;
    gap: 22px;
    margin-top: 28px;
    height: 33px;

    @each $type, $color in $type-colors {
      .detail__plate.#{$type} {
        @include plate_unclick_style($color);

        gap: 3px;
        background-color: ($color);
        color: #fff;
        width: 95px;
        height: 33px;
        flex-shrink: 0;
        cursor: none;
        padding: 5px;
        border-radius: 16px;
      }
    }
  }
}

.official__img {
  width: 280px;
  height: 280px;
  text-align: center;
  display: inline-block;
}
.pokemon__info__Box,
.detail__center,
.stats__container {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.test {
  width: 100px;
  height: 100px;
}

@each $type, $color in $type-colors {
  .test.#{$type} {
    background-color: $color;
  }
}

// Evovles_chain

.evolves {
  display: flex;
  flex-direction: column;
  gap: 57px;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    min-height: 377px;
    height: 100%;
    flex-shrink: 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #ececec;
    margin-top: 73px;
    justify-content: space-between;
  }

  &__title {
    display: flex;
    justify-content: center;
    position: relative;

    &__box {
      border-top: 28px solid #000;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      width: 147px;
      position: relative;
    }

    &__text {
      position: absolute;
      top: -25px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      padding: 5px;
    }
  }

  &__img__box {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 18px;
    height: 100%;
    justify-content: center;
    margin-bottom: 44px;
    margin-top: 37px;
  }

  &__list {
    width: 226px;
    height: 226px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 2px solid #000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 141px;
      height: 141px;
      flex-shrink: 0;
    }
  }

  &__pre__evolution__box {
    display: flex;
    gap: 18px;
    align-items: center;
  }

  &__pre__evolution {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;

    &__name {
      display: flex;
      justify-content: center;
    }

    &__arrow {
      transform: rotate((90deg));
    }
  }

  &__final__evolution {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 73px;
    justify-content: center;

    &__box {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    &__name {
      display: flex;
      justify-content: center;
    }
  }
  &__extra__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 57px;
  }

  &__common__evolution {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }

  &__other__evolution {
    display: flex;
    gap: 73px;
  }
}
