.mypage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @media (max-width: 769px) {
    padding: 0 20px;
  }
}

// Introduce

.intro {
  &__container {
    width: 100%;
    height: 222px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;

    @media (max-width: 769px) {
      height: 187px;
      margin-top: 21px;
    }
  }

  &__profile__img {
    width: 162px;
    height: 162px;
    flex-shrink: 0;
    position: relative;
    margin-right: 28px;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;

    @media (max-width: 769px) {
      width: 80px;
      height: 80px;
      top: -83px;
    }

    img {
      position: absolute;
      left: 0;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

      @media (max-width: 769px) {
        width: 80px;
        height: 80px;
        background: #fff;
      }
    }

    button {
      padding: 0;

      @media (max-width: 769px) {
        padding: 0;
        background: black;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        border: 1px solid #fff;
        z-index: 11;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__edit {
      position: absolute;
      color: #fff;
      text-align: center;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      input {
        display: none;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: auto;

    @media (max-width: 769px) {
      gap: 8px;
      position: relative;
      left: -108px;
      margin-top: 28px;
    }

    &__name {
      color: #000;

      font-size: 34px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @media (max-width: 769px) {
        font-size: 24px;
        max-width: 350px;
        margin-top: 28px;
      }
    }

    input {
      border: none;
      outline: none;
      border-bottom: 1px solid #000;

      @media (max-width: 769px) {
        width: 100%;
        background-color: transparent;
        color: #000;

        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding: 0;
      }
    }

    &__talk {
      height: 56px;
      flex-shrink: 0;
      color: #000;
      gap: 10px;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      white-space: pre-wrap;
      display: flex;
      width: 100%;

      @media (max-width: 769px) {
        line-height: 18px;
        overflow: auto;
        display: flex;
        flex-direction: column;
      }

      div {
        display: flex;
        height: 70px;
        align-items: flex-end;
        width: 92px;

        @media (max-width: 769px) {
          height: auto;
          width: 100%;
          justify-content: flex-end;
        }
      }
    }

    .editModeOn {
      @media (max-width: 769px) {
        height: 56px;
        max-width: 350px;
      }
    }

    .editModeOn textarea {
      resize: none;
      width: 100%;
      height: 70px;
      outline: none;
      white-space: pre-wrap;
      max-width: 400px;
      border-radius: 8px;
      padding: 2px;
    }
  }

  &__info__edit {
    position: relative;
    padding-top: 15px;
    height: 100%;

    &__btn {
      width: 80px;
      height: 25px;
      flex-shrink: 0;
      border-radius: 4px;
      background-color: #fff;
      cursor: pointer;

      @media (max-width: 769px) {
        width: 50px;
      }
    }

    .editModeOff {
      border: 1px solid #e3e3e3;

      &:hover {
        background-color: #e3e3e3;

        span {
          color: #fff;
        }
      }

      span {
        width: 54px;
        height: 10px;
        flex-shrink: 0;
        color: #c6c6c6;
        text-align: center;

        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    .editModeOn {
      border: 1px solid #ff612c;

      &:hover {
        background-color: #ff612c;

        span {
          color: #fff;
        }
      }

      span {
        color: #ff612c;
        text-align: center;

        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

// Mycard

.mycard {
  &__container {
    width: 100%;
    height: 392px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background: #fff;
    margin-top: 30px;
    padding: 35px 22px 46px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__top__box {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: 769px) {
      margin: 0;
      text-align: center;
      padding: 30px 36px;
    }
  }

  &__title {
    color: #000;

    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
  }

  &__make__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: 7px;

    @media (max-width: 769px) {
      display: none;
    }

    button {
      width: 99px;
      height: 34px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #fff;
      border: none;
      color: #0f60ce;
      text-align: center;

      font-size: 13px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      cursor: pointer;
      border: 1px solid #0f60ce;

      &:hover {
        background-color: #0f60ce;
        color: #fff;
      }
    }
  }

  &__layout__box {
    display: flex;
    gap: 13px;

    @media (max-width: 769px) {
      max-width: 768px;
      justify-content: center;
    }
  }

  &__layout__data,
  &__layout {
    width: 182px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    position: relative;

    &__slide {
      @media (max-width: 769px) {
        display: flex;
        gap: 27px;
      }
    }

    &__count {
      margin: 20px 0;
      text-align: center;
    }

    div {
      color: #a5a5a5;
    }

    &__delete {
      display: none;
    }

    &:hover {
      transform: scale(1.02);

      .mycard__layout__data__delete {
        display: flex;
        position: absolute;
        z-index: 20;
        color: black;
        top: -8px;
        right: -8px;
        border-radius: 50%;
        border: 2px solid #000;
        padding: 0;
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        transform: rotate(45deg);

        &:hover {
          background-color: #ff5050;
        }
      }
    }
  }
}

// MyActive

.myactive {
  &__total__container {
    margin-top: 30px;
    display: flex;
    max-width: 1200px;
    width: 100%;
    height: 750px;
    gap: 38px;

    @media (max-width: 769px) {
      flex-direction: column;
      gap: 20px;
      height: 100%;
    }
  }

  &__left__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    @media (max-width: 769px) {
      gap: 20px;
    }
  }

  &__posts {
    max-width: 596px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background: #fff;

    @media (max-width: 769px) {
      max-width: 768px;
    }

    &__title {
      padding: 22px 0 22px 22px;

      @media (max-width: 769px) {
        padding: 30px 36px;
        text-align: center;
      }

      span {
        color: #000;

        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }

    &__box {
      height: 222px;
      gap: 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      padding: 0 22px;

      @media (max-width: 769px) {
        padding: 0 20px;
      }

      &__none {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 77%;
      }

      &__item {
        width: 100%;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid #e3e3e3;
        background-color: inherit;
        padding: 8px 10px 8px 16px;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }

      &__btn__group {
        display: flex;
        gap: 9px;

        button {
          border: none;
          width: 53px;
          height: 34px;
          border-radius: 8px;
          color: #fff;
          text-align: center;

          font-size: 13px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          &:first-child {
            background-color: #0f60ce;
          }

          &:last-child {
            background-color: #ff5050;
          }
        }
      }
    }
  }

  &__posts__favorite {
    max-width: 596px;
    height: 360px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background: #fff;

    @media (max-width: 769px) {
      max-width: 768px;
      height: 410px;
    }
  }

  &__right__container {
    max-width: 568px;
    width: 100%;
    height: 750px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background: #fff;

    @media (max-width: 769px) {
      max-width: 768px;
      height: 436px;
    }
  }

  &__liked__title {
    padding: 22px 33px;
    background: #fff;
    border-radius: 10px 10px 0 0;

    @media (max-width: 769px) {
      padding: 30px 36px;
      text-align: center;
    }

    span {
      color: #000;

      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  &__liked__box {
    padding: 10px 29px 22px 29px;
    height: 75%;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    @media (max-width: 769px) {
      gap: 2px;
      padding: 0 20px;
      height: 266px;
    }

    span {
      color: #000;
      text-align: center;

      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    img {
      cursor: pointer;
    }

    &__none {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 77%;
    }
  }

  &__liked__pokemon__box {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 769px) {
      width: 98px;
    }
  }

  &__liked__pokemon {
    width: 121px;
    height: 121px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 769px) {
      width: 98px;
      height: 98px;
    }

    &:hover {
      transform: scale(1.05);
      border: 1px solid #090909;
    }

    img {
      @media (max-width: 769px) {
        height: 80px;
        width: 80px;
      }
    }
  }

  &__liked__cancel {
    background-color: inherit;
    border: none;
    position: absolute;
    top: 7px;
    right: 8px;
    padding: 0;
    cursor: pointer;
    transform: rotate(45deg);
    flex-shrink: 0;
    color: #c6c6c6;
  }

  &__liked__cancel:hover {
    color: #ff5050;
    transform: rotate(45deg) scale(1.05);
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 46px;

  @media (max-width: 769px) {
    justify-content: center;
    margin-top: 20px;
  }
}

.mobile {
  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1.5px);
    z-index: 10;
  }
}
