.card_page_wrapper {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.product_card_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  > span {
    margin-bottom: 20px;
  }
}

.product_card_container_decoration {
  &__top {
    width: 100%;
    height: 21px;
    border-radius: 15px 15px 0px 0px;
    border: 3px solid #000;
    background: #ff5050;
  }

  &__bottom {
    height: 21px;
    border-radius: 0px 0px 15px 15px;
    border: 3px solid #000;
    background: #0f60ce;
  }
}

.product_card_container {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10%;
  height: 588px;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  background: #fff;
}

.select_wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.editor_wrapper {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 485px;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 80%;
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    justify-content: flex-end;
  }

  ul {
    margin-left: 10%;
  }
}

.pokemon_name_editor {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;

  > li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: 51px;
      height: 34px;
      border-radius: 8px;
    }

    > div {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }
}

.name_input {
  cursor: text;
  text-align: end;
  outline: none;
  border: none;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: GmarketSansMedium;
}

.status_title {
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    gap: 8px;
  }
}

.status_bar_container {
  display: flex;
  flex-direction: column;

  > li {
    display: flex;
    justify-content: space-between;

    > div {
      width: 70%;
    }
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
}

.list_name {
  font-size: 18px;
}

.save_button {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  width: 280px;
  height: 60px;
  border-radius: 8px;
  background-color: #0f60ce;
  border: none;
  cursor: pointer;
}
