@import 'src/styles/mixin.scss';

.wrapper {
  width: 100%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.card_wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mobile {
    align-items: center;
  }
}

.card_decoration {
  width: 100%;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    width: 100%;
    height: 21px;
    border-radius: 15px 15px 0px 0px;
    box-sizing: border-box;
    border: 3px solid #000;
    background: #ff5050;

    @include mobile {
      border-radius: 0%;
      border-left: none;
      border-right: none;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 21px;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
    border: 3px solid #000;
    background: #0f60ce;

    @include mobile {
      border-radius: 0%;
      border-left: none;
      border-right: none;
    }
  }
}

.card_container {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  padding: 30px 0;

  @include mobile {
    border-left: none;
    border-right: none;
    flex-direction: column;
    gap: 80px;
  }
}

.select_wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 12px;

  @include mobile {
    display: none;
  }
}

.save_button {
  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  width: 280px;
  height: 60px;
  border-radius: 8px;
  background-color: #0f60ce;
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: #dddddd;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
}
