.modal {
  &__container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  &__overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    z-index: 1010;
    height: 591px;
    width: 428px;
    justify-content: center;
    align-items: center;

    @media (max-width: 769px) {
      width: 300px;
      height: 400px;
    }
  }
}

.rotate {
  transform: rotate(45deg);
  flex-shrink: 0;
  color: #fff;
}

.close__btn {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: -12px;

  div {
    cursor: pointer;
  }
}

.download__box {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    border: 3px solid #0f60ce;
    border-radius: 10px;
    background-color: #0f60ce;
    font-size: 20px;
    padding: 6px 10px 6px 10px;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: #0f60ce;
    }
  }
}
