.main__header {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header__section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dce1e6;
}

.header__section > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0 20px;
  max-width: 1200px;
}

.menu__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1 0 0px;
}

.nav__box {
  display: flex;
}

.nav__box a {
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: rgb(15, 19, 23);
  cursor: pointer;
}

.logo {
  margin-right: 60px;
}

.util__menu {
  margin-right: 20px;
}
